<%%- page_title t('headers.edit', name: t('activerecord.models.<%= name %>.one')) -%>
<h2><%%= t('headers.edit', name: t('activerecord.models.<%= name %>.one')) %></h2>
<%%- content_for(:help) { "<%= name %>_edit" } -%>

<%%= render 'form' %>
