<%%- page_title t('sorcery.reset.header') -%>
<h2><%%= t('sorcery.reset.header') %></h2>
<%%- content_for(:help) { "<%= name %>_password" } -%>

<%%= simple_form_for(@<%= name %>, url: {action: "reset"}) do |f| %>
  <%%= f.error_notification %>

  <%%= f.input :email, autofocus: true %>

  <%%= f.button :submit, t('sorcery.reset.send'), class: 'btn btn-primary' %>
  <%%= link_to t('sorcery.reset.back'), log_in_<%= table_name %>_path, class: 'btn btn-default' %>
<%% end %>
